#colors {
  color: #1f1f24;
  color: #23252b;
  color: #424d5b;
  color: #515b70;
  color: #ffffff;
  color: #ffffff;
  color: #6c7986;
  color: #92a1b1;
  color: #fc6a5d;
  color: #9686f5;
  color: #fc5fa3;
  color: #fd8f3f;
  color: #53a5fb;
  color: #75b492;
  color: #91d462;
  color: #aef37d;
  color: #fd8f3f;
  color: #7ac8b6;
  color: #99e8d5;
}
